* {
  margin: 0px;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
}

.app {
  width: 100%;
}

.menu {
  background-color: #0081a7;
  padding-left: 10px;
  overflow-y: scroll;
  height: 94.5vh;
  width: 250px;
}

.menu-list a {
  color: white;
}

.menu-list a:hover {
  background-color: #fdfcdc;
  color: #00afb9;
  font-weight: bold;
}

.menu-label {
  color: #fdfcdc;
}

.navbar {
  background-color: #0081a7;
}

/* Modal */
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 999;
}

.modal-fondo {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: white;
  border-radius: 5px;
  color: rgb(51, 51, 51);
  display: inline;
  max-height: 620px;
  max-width: 500px;
  outline: none;
  padding: 10px;
}

.modal-ordenes {
  background: white;
  border-radius: 5px;
  color: rgb(51, 51, 51);
  display: inline;
  max-height: 1020px;
  max-width: 800px;
  outline: none;
  padding: 10px;
}
